@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }
}

@layer components {
  .backgroundOrange {
    @apply bg-gradient-to-tr from-[#FF6E75]/90 via-[#DDA044] to-[#EE7B22]/90;
  }
  .link {
    @apply cursor-pointer hover:underline hover:text-[#EE7B22];
  }

  .icon {
    @apply h-8 w-8 cursor-pointer rounded-sm;
  }

  .button {
    @apply border border-[#9D00FF] cursor-pointer rounded-lg shadow-inherit shadow-lg p-1 
    text-[#9D00FF] hover:text-white hover:transition-transform;
  }

  .projectButton {
    @apply p-3 flex items-center cursor-pointer bg-[#f5f1e4]
    rounded-3xl truncate;
  }

  .expCards {
    @apply flex flex-col flex-shrink-0 rounded-lg items-center bg-[#f5f1e4] p-3 m-2 w-[350px];
  }
  .cardsText {
    @apply list-disc space-y-2 ml-5 text-xs text-justify;
  }
  .carousel .control-dots {
    position: relative !important;
    top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .carousel .carousel-slider {
    padding-left: 20px;
    padding-right: 20px;
  }
  .LogoSkill {
    @apply flex items-center justify-center;
  }
  .skillsImage {
    @apply h-[58.66px] w-[62.88px] lg:h-[66px] lg:w-[70.75px];
  }
}
